language: python
matrix:
  include:
    - name: "Python 3.7 on Ubuntu 16.0.4"
      os: linux
      python: 3.7
      node: 11.15.0
      dist: xenial
      sudo: true
      env:
        DEPLOYMENT_ENV="true"

    - name: "Python 3.6 on Ubuntu 16.0.4"
      os: linux
      python: 3.6
      node: 11.15.0
      dist: xenial

    - name: "Python 3.8 on Ubuntu 16.0.4"
      os: linux
      python: 3.8
      node: 11.15.0
      dist: xenial


    - name: "Python 3.7.2 on OSX"
      os: osx
      language: shell
      dist: xcode10.2
      env:
        BADGE=osx

    - name: "Python 3.7.3 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python  --version=3.7.2
        - python -m pip install --upgrade pip
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH

cache: pip
# install dependencies
install:
  - if [ "$TRAVIS_OS_NAME" != "windows" ]; then pip3 install --upgrade pip; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then travis_wait pip install --no-cache-dir --no-use-pep517 -e .; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then travis_wait pip install -r requirements_test.txt; fi
  - if [ "$TRAVIS_OS_NAME" != "windows" ]; then travis_wait pip3 install --no-cache-dir --no-use-pep517 -e .; fi
  - if [ "$TRAVIS_OS_NAME" != "windows" ]; then travis_wait pip3 install -r requirements_test.txt; fi

# run tests
script:
  - cd tests/ci_tests
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then travis_wait python ci_tests.py; fi
  - if [ "$TRAVIS_OS_NAME" != "windows" ]; then travis_wait python3 ci_tests.py; fi
  - cd ..
  - python -m unittest


# deploy to pip
deploy:
  - provider: pypi
    user: "mindsdb_sysadmin"
    password: $PYPI_SYSADMIN_PASSWORD
    on:
      branch: stable
      condition: $DEPLOYMENT_ENV = "true"
