NLTK >= 3, != 3.6
python-dateutil <2.8.1,>=2.1
numpy >= 1.16.2
pandas >= 0.25.1
schema >= 0.6.8
scikit-learn >= 0.22.1, <= 0.23.2
torchvision >= 0.7.0, <= 0.9.0
torch >= 1.6.0, <= 1.8.1, != 1.8.0
openpyxl >= 3.0.7
requests >= 2.0.0
transformers >= 4.1.0, <= 4.3.0
lightgbm >= 3.1.1
optuna >= 2.4.0
scipy >= 1.1.0
colorama >= 0.4.3
psutil >= 5.7.0
cython >= 0.29.2
setuptools >= 21.2.1
wheel >= 0.32.2
attrs >= 18.2.0
pytz >= 2018.5
scipy >= 1.1.0, <= 1.4.1
scikit-learn >= 0.22.1, <= 0.23.2
colorlog >= 4.0.2
ImageHash == 4.0
imageio == 2.5.0
pillow<7
portalocker >= 1.7.0
flair >= 0.5,<=0.6.1
nonconformist >= 2.1.0
dill >= 0.3.1.1
mindsdb_datasources >= 1.1.0
dataclasses-json >= 0.5.0