NLTK >= 3
python-dateutil <2.8.1,>=2.1
dask<2.4.0,>=1.0.0
cesium >= 0.9.12
dill >= 0.2.9
numpy >= 1.16.2
pandas >= 0.25.1
schema >= 0.6.8
scikit-learn >= 0.22.1
torchvision >= 0.5.0
torch >= 1.4.0
xlrd >= 1.0.0
requests >= 2.0.0
ax-platform >= 0.1.9
transformers >= 2.2.1
pydub >= 0.20.0
