NLTK >= 3, != 3.6
python-dateutil <2.8.1,>=2.1
numpy >= 1.16.2
pandas >= 0.25.1
schema >= 0.6.8
torchvision >= 0.10.0
torch >= 1.9.0
requests >= 2.0.0
transformers >= 4.5.0
lightgbm >= 3.1.1
optuna >= 2.8.0
scipy >= 1.6.3
psutil >= 5.7.0
setuptools >= 21.2.1
wheel >= 0.32.2
scikit-learn >= 0.22.1, <= 0.23.2
pillow < 7
mindsdb_datasources >= 1.1.0
langdetect >= 1.0.0
dataclasses_json >= 0.5.4
autopep8 >= 1.5.7
dill == 0.3.4
colorlog >= 5.0.0
accelerate >= 0.3.0