name: Documentation Build Lightwood

on:
  push:
    branches:
      - staging
      - separate_doc_branch
      - jupyter_actions

jobs:
  doc_build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout and set up
      uses: actions/checkout@v2

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: install all dependencies
      run: |
        sudo apt install pandoc
        python -m pip install --upgrade pip
        pip install --no-cache-dir -e .
        pip install install 'Sphinx==4.1.2' 'sphinx-autoapi==1.8.4' 'sphinx-autodoc-typehints==1.12.0' 'sphinx-code-include==1.1.1' 'sphinx-rtd-theme==0.5.2' 'sphinxcontrib-applehelp==1.0.2' 'sphinxcontrib-devhelp==1.0.2' 'sphinxcontrib-htmlhelp==2.0.0' 'sphinxcontrib-jsmath==1.0.1' 'sphinxcontrib-napoleon==0.7' 'sphinxcontrib-qthelp==1.0.3' 'sphinxcontrib-serializinghtml==1.1.5' autoapi nbsphinx myst_parser pandoc jupyter matplotlib imblearn
    - name: Re-run notebooks
      run: |
        find . -iname '*.ipynb' -exec jupyter nbconvert --to notebook --inplace --execute {} \;  > out.txt 2>&1
        cat out.txt
        cat out.txt | grep -zvqi exception && echo 'no errors detected' || exit
        cat out.txt | grep -zvqi error && echo 'no errors detected' || exit
    - name: Make the docs
      run: |
        cd docssrc && make github

    - name: Deploy to another branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages # The branch name where you want to push the assets
        FOLDER: docs # The directory where your assets are generated
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
        MESSAGE: "Rebuilt the docs" # The commit message