name: Integration and Unit Tests Lightwood

on:
  push:
  pull_request:
    branches:
      - main
  release:
    types: [published]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          python -m pip install setuptools==57.5.0
          python -m pip install pydateinfer==0.3.0
          poetry install -E dev -E image
      - name: Install NLTK data
        run: |
          poetry run python -m nltk.downloader punkt
          poetry run python -m nltk.downloader punkt_tab
          poetry run python -m nltk.downloader stopwords
      - name: Install dependencies OSX
        run: |
          if [ "$RUNNER_OS" == "macOS" ]; then
            brew install libomp;
          fi
        shell: bash
        env:
          CHECK_FOR_UPDATES: False
      - name: Test with unittest
        run: |
          # Run all the "standard" tests
          poetry run python -m unittest discover tests

  deploy:
    runs-on: ubuntu-latest
    environment: PublishCI
    needs: test
    if: github.event_name == 'release'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Build
        run: poetry build
      - name: Publish
        env:
          POETRY_HTTP_BASIC_PYPI_USERNAME: __token__
          POETRY_HTTP_BASIC_PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          poetry publish --dry-run
          poetry publish
