name: Integration and Unit Tests Lightwood

on:
  push:
  pull_request:
    branches:
      - stable
      - staging
      - jupyter_actions

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7,3.8,3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --no-cache-dir -e .
        pip install flake8
        pip install -r tests/requirements.txt
        echo "$DATABASE_CREDENTIALS" > ~/.mindsdb_credentials.json
        sudo chmod 644 ~/.mindsdb_credentials.json
    - name: Install dependencies Windows
      run: |
        if [ "$RUNNER_OS" == "Windows" ]; then
          pip install torch==1.7.0+cpu torchvision==0.8.1+cpu -f https://download.pytorch.org/whl/torch_stable.html;
        fi
      shell: bash
      env:
        CHECK_FOR_UPDATES: False
    - name: Install dependencies OSX
      run: |
        if [ "$RUNNER_OS" == "macOS" ]; then
          brew install libomp;
        fi
      shell: bash
      env:
        CHECK_FOR_UPDATES: False
    - name: Lint with flake8
      run: |
        python -m flake8 .
    - name: Test with unittest
      run: |
        # Run all the "standard" tests
        python -m unittest discover tests
        # Run all the tutorials (Also serves to generate realted html, so this needs to run before docs deploy)
        find . -iname '*.ipynb' -exec jupyter nbconvert --to notebook --inplace --execute {} \;

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/stable'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME:  __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist
        twine upload dist/*
